<launch>

<arg doc="Movie startup delay factor for multiple instances"
     name="delay_factor" default="1.25"/>

<arg doc="Launch rqt with custom perspective"
     name="start_rqt" default="true"/>

<arg doc="Name of Camera 1 for ROS topic"
     name="camera_name_1" default="color"/>

<arg doc="Name of Camera 2 for ROS topic"
     name="camera_name_2" default="grey"/>

<arg doc="Name of Camera 3 for ROS topic"
     name="camera_name_3" default="depth"/>

<arg doc="Custom rqt perspective file"
     name="perspective"
     default="$(find carmaker_vds_client)/launch/multicam_example.perspective"/>



<include file="$(find carmaker_vds_client)/launch/carmaker_vds_client.launch">
  <arg name="camera_name" default="$(arg camera_name_1)"/>
  <arg name="vds_config" default="0"/>
  <arg name="delay_factor" default="$(arg delay_factor)"/>
  <arg name="param_trans_rot" default="[2.6, -0.05, 1.5, 0, 0, 0]"/>
  <arg name="width" default="1200"/>
  <arg name="height" default="800"/>
  <arg name="fov_deg" default="80"/>
  <arg name="start_movie" default="true"/>
  <arg name="start_rqt_image_view" default="false"/>
  </include>

<include file="$(find carmaker_vds_client)/launch/carmaker_vds_client.launch">
  <arg name="camera_name" default="$(arg camera_name_2)"/>
  <arg name="vds_config" default="1"/>
  <arg name="delay_factor" default="$(arg delay_factor)"/>
  <arg name="param_trans_rot" default="[2.5, 0, 1.5, 0, 0, 0]"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="fov_deg" default="20"/>
  <arg name="start_movie" default="true"/>
  <arg name="start_rqt_image_view" default="false"/>
  </include>

<include file="$(find carmaker_vds_client)/launch/carmaker_vds_client.launch">
  <arg name="camera_name" default="$(arg camera_name_3)"/>
  <arg name="vds_config" default="2"/>
  <arg name="delay_factor" default="$(arg delay_factor)"/>
  <arg name="param_trans_rot" default="[2.5, 0, 1.5, 0, 0, 0]"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="fov_deg" default="20"/>
  <arg name="start_movie" default="true"/>
  <arg name="start_rqt_image_view" default="false"/>
  </include>

<node name = "rqt_custom_perspective" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen"
      args = "--perspective-file $(arg perspective)"
      if="$(arg start_rqt)"/>

</launch>
